<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alibaba.android.arouter.demo.module1">

    <application android:name="module1.ModuleApplication">
        <activity android:name="com.alibaba.android.arouter.demo.module1.TestModuleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
